<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="Data Source=192.168.1.9;Initial Catalog=GTWS;Uid=sa;password=tlkj123!@#;Pooling=false"/>
    <add key="RECT_TOP" value="1036"/>
    <add key="RECT_LEFT" value="40"/>
    <add key="RECT_WIDTH" value="500"/>
    <add key="RECT_HEIGHT" value="40"/>

    <add key="BINARY_MIN" value="40"/>
    <add key="BINARY_MAX" value="255"/>

    <add key="DBTYPE" value="MSSQL"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
