<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebDBSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:15355/api/db.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebDBSoap" contract="WebSQL.WebDBSoap"
                name="WebDBSoap" />
        </client>
    </system.serviceModel>
</configuration>