<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="ConnStr" value="Data Source=.\SQLEXPRESS;Initial Catalog=GUOTUJU;Uid=sqguotuju;password=sqgt#gov#cn;" />-->
    <!--<add key="ConnStr" value="Data Source=.;Initial Catalog=ZFJC_DB;Uid=tlkj;password=1a.;" />-->
    <add key="DB_URL" value="Data Source=120.194.196.253,8010;Initial Catalog=GTWS;Uid=sa;password=tlkj@2016;" />
    <add key="DB_URL_CG" value="Data Source=117.158.102.2,8010;Initial Catalog=GTWS;Uid=sa;password=tlkj123!@#;" />
    <add key="DB_URL2" value="server=localhost;port=3306;User Id=root;password=root;Database=GTWS;CharSet=utf8;" />
    
    <add key="DB_TYPE" value="1" />
    <add key="DB_MAX" value="10" />
    
    <add key="IS_DEBUG" value="1" />
    <add key="USER_NAME" value="cggt" />
    <add key="USER_PASS" value="8888" />
    
    <add key="ACTIVE_MQ_HOST" value="120.194.196.253" />
    <add key="ACTIVE_MQ_PORT" value="8012" />

    <add key="ORG_ID" value="411400" />
    <add key="WXWeb" value="http://weixin.skydragon.com.cn/" />
     
    <add key="WX_ID" value="gh_ab7341128296" />
    <add key="WX_APPID" value="wx88a3d4d7ba0e0dbc" />
    <add key="WX_APPSECRET" value="a6186e1644d12c61687a22230c230f3e" />
    <add key="WX_TOKEN" value="tlkj123" />
    <add key="WX_AESKEY" value="tCADGQrBoiwsqKFAYEzFwxarKoFRTJmFyECqL6y49Ql" />
    <add key="WX_TITLE" value="深圳市天龙科技有限公司" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>